@import url("dashboard.css");

.tools{
display:flex;
gap:10px;
margin-bottom:15px;
}

.tools button{
padding:10px 16px;
border:none;
background:black;
color:white;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
padding:12px;
border:1px solid #ddd;
text-align:center;
}

/* popup */
.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:none;
justify-content:center;
align-items:center;
}

.popup-box{
background:white;
padding:25px;
width:350px;
border-radius:8px;
}

.popup-box h2{
margin-bottom:15px;
}

.popup-box input{
width:100%;
padding:10px;
margin-bottom:10px;
}

.popup-btn{
display:flex;
gap:10px;
}

.popup-btn button{
flex:1;
padding:10px;
border:none;
background:black;
color:white;
color:white;
cursor:pointer;
}